.satu {
	width: 300px;
	height: 300px;
	background-color: goldenrod;
	/*inset ,x-offset, y-offset, blur, spread, color*/
	box-shadow: inset 0px 0px 20px 20px rgba(0, 0, 0, .68);
	margin: 60px auto;
	/* inset membuat shadow masuk ke dalam */
}

.dua {

	/* multiple shadow */
	width: 300px;
	height: 300px;
	background-color: goldenrod;
	/*inset ,x-offset, y-offset, blur, spread, color*/
	box-shadow: 5px 5px 0px rgba(255, 0, 0, .68),
		-5px -5px 0 rgba(0, 0, 255, .68);
	margin: 60px auto;


}