div{
	width: 300px;
	height: 300px;
	background-color: salmon;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	margin: auto;
	overflow: hidden;
}
img{
	width: 300px;
	height: 300px;

}